*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: my-font;
    font-size: 3rem; /* Increased font size for headline */
    line-height: 1.6;
    margin-left: 3rem;
    display: flex;
    justify-content: left;
    align-items: start;
    background-color: #040404;
    height: auto; /* Changed height to auto */
    flex-direction: column; /* Changed flex-direction to column */
    overflow: hidden;
}

.text {
    font-weight: 700;
    color: #f9f9f9;
    font-family: "Cutive Mono", monospace;
    padding: 1em;
    text-align: start;
}


@font-face {
    font-family: my-font;
    src: url(bg.ttf);
    font-family: "neon-tubes-2-regular";
    src:
        url("https://assets.codepen.io/2585/NeonTubes2.otf") format("woff"),
        url("https://assets.codepen.io/2585/NeonTubes2.otf") format("opentype"),
        url("https://assets.codepen.io/2585/NeonTubes2.otf") format("truetype");
}
.neon-blue {
    color: #00bfff; /* Neon blue */
    text-shadow:
        0 0 10px #00bfff,
        0 0 2.5vmin #00bfff,
        0 0 5vmin #00bfff,
        0 0 5vmin #00bfff,
        0 0 10vmin #00bfff;
}

@media (dynamic-range: high) {
    .neon-red {
        color: #ff0000; /* Neon red */
    }

    .neon-blue {
        color: #00bfff; /* Neon blue */
    }
}
.next{
    font-size: 8rem;
    opacity: 0; 
    color: #f9f9f9;
    transition: opacity 2s;
    margin-left: 50px;
    font-family: "neon-tubes-2-regular", sans-serif;
    color: #00bfff; /* Neon red */
            text-shadow:
                0 0 20px #00bfff,
                0 0 2.5vmin #00bfff,
                0 0 5vmin #00bfff,
                0 0 10vmin #00bfff,
                0 0 15vmin #00bfff;
}

.soon{
    margin-left: 50px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: opacity 3s; 
    font-family:"DM Mono", monospace;
}


@media screen and (max-width: 600px) {
    body{
        font-size: 1.3rem;
        padding: 0;
        margin: 1.2rem;
        display: flex;
        justify-content:start;
        gap: 3rem;
        justify-content: center;
        height: 90vh;
        height: 90dvh;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .text{
        font-size: 1.5rem;
        margin-left: 15px;
        padding: 0.5em;
        font-weight: 600;
    }
    .next{
        font-size: 4.8rem;
        margin-left: 25px;
    }
    .soon{
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: 15px;
        padding: 0.5em;
    }
}


        

        